*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
body>div {
    font-family: sans-serif;
}
.menubar {
    display: none;
}
.first {
    position: fixed;
    z-index: 1;
    margin: 500px 1200px;
}
.first a {
    background-color: black;
    padding: 20px 10px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}
.one li {
    list-style: none;
}
.one {
    background-image: url(../image/morning.jpg);
    background-position: center;
}
.two {
    background-image: url(../image/morning.jpg);
    height: 100vh;
}
.two>div {
    padding-top: 300px;
}
.two h1 {
    font-size: 60px;
    font-weight: bolder;
}
.three {
    background-image: url(../image/morning.jpg);
    background-position: bottom;
    height: 100px;
}
.start1 {
    width: 33.33333%;
    height: 5px;
    border: 0px solid;
    background-color: rgb(233, 226, 226);
    border-radius: 15px;
}
.start2 {
    width: 60%;
    background-color: orangered;
    height: 5px;
    border-radius: 15px;
}
.start3 {
    width: fit-content;
    background-color: orangered;
    padding: 4px 4px ;
    border-radius: 4px;
    position: relative;
    top: -40px;
    margin-left: 90%;
    color: white;
}
.start4 {
    border: 0px solid;
    width: 10px;
    height: 10px;
    border-radius:5px 5px;
    position: absolute;
    background-color: orangered;
    margin-left: 9px;
    margin-top: -2px;
}
.start5 {
    margin: 20px 0 0 0;
    color: orangered;
}
.center1 {
    width: 33.33333%;
    height: 5px;
    border: 0px solid;
    background-color: rgb(233, 226, 226);
    border-radius: 15px;
}
.center2 {
    width: 60%;
    background-color: lime;
    height: 5px;
    border-radius: 15px;
}
.center3 {
    width: fit-content;
    background-color: lime;
    padding: 4px 4px ;
    border-radius: 4px;
    position: relative;
    top: -40px;
    margin-left: 90%;
    color: white;
}
.center4 {
    border: 0px solid;
    width: 10px;
    height: 10px;
    border-radius:5px 5px;
    position: absolute;
    background-color: lime;
    margin-left: 9px;
    margin-top: -2px;
}
.center5 {
    margin: 20px 0 0 0;
    color: lime;
}
.end1 {
    width: 33.33333%;
    height: 5px;
    border: 0px solid;
    background-color: rgb(233, 226, 226);
    border-radius: 15px;
}
.end2 {
    width: 60%;
    background-color: purple;
    height: 5px;
    border-radius: 15px;
}
.end3 {
    width: fit-content;
    background-color: purple;
    padding: 4px 4px ;
    border-radius: 4px;
    position: relative;
    top: -40px;
    margin-left: 90%;
    color: white;
}
.end4 {
    border: 0px solid;
    width: 10px;
    height: 10px;
    border-radius:5px 5px;
    position: absolute;
    background-color: purple;
    margin-left: 9px;
    margin-top: -2px;
}
.end5 {
    margin: 20px 0 0 0;
    color: purple;
}
.four .div {
    column-gap: 30px;
}
.five img {
    width: 100%;
}
.six img {
    width: 150px;
    height: 150px;
}
.six {
    background-image: url(../image/nature2.jpg);
    background-size: cover;
}
.eight img {
    width: 100%;
}
.nine {
    background-image: url(../image/nature2.jpg);
    background-size: cover;
    background-position: center;
}
.ten img {
    width: 25px;
}
.profile img {
    width: 100px;
    height: 100px;
}
.eleven img {
    width: 25px;
}
.messagebox {
    padding-bottom: 200px;
}
.twelve input {
    background-color: rgba(204, 204, 204, 0.842);
}
@media(max-width:576px) {
    .first {
        margin: 800px 0 0 400px;
    }
    .one {
        width: 100%;
    }
    .left h1 {
        font-size: 20px;
    }
    .right {
        display: none;
    }
    .menubar {
        display: block;
        margin: auto;
        text-align: center;
    }
    .dropdown li {
        display: none;
        list-style: none;
        text-align: center;
        background-color: black;
        width: 100px;
    }
    .dropdown ul a {
        color: white;
    }
    .dropdown:hover.dropdown li {
        display: block;
    }
    .two h1 {
        font-size: 30px;
    }
    .two {
        height: fit-content;
        background-size: cover;
        background-position: center;
    }
    .two div {
        padding-top: 60px;
    }
    .two .div2 {
        padding: 20px 0 60px 0;
    } 
    .start1,.center1 {
        margin-bottom: 100px;
    }
    .four .div {
        display: block;
    }
    .five .div5 {
        width: 100%;
        margin: auto;
    }
    .eight .div1 {
        margin-bottom: 20px;
    }
    .ten .div3 {
        margin-bottom: 20px;
    }
    .eleven img {
        margin-right: auto;
    }
}